<html>
    <head>
        <title>Results</title>
    </head>
    <body>
        <div id="body_name"></div>
        <br>
        <div id="body_author"></div>
        <br>
        <div id="body_date"></div>

        <script>
            var json = JSON.parse(<%= result %>);
            console.log(json);
            document.getElementById("body_name").innerHTML = "Title: " + name;
            document.getElementById("body_author").innerHTML = "Author: " + author;
            document.getElementById("body_date").innerHTML = "Date Created: " + date;
        </script>
    </body>
</html>