<html>
    <head>
        <title>Edit Confirmation</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/public/stylesheets/soundbiscuit.css">
    </head>
    <body>
        <div class="header">
            <div class="inner_header">
                    <div class="logo_container">
                            <a href="home.html"><h1>Sound<span>Biscuit</span></h1></a>
                    </div>

                    <ul class="navigation">
                            <a href="../home.html"><li>Home</li></a>
                            <a href="#"><li>About</li></a>
                            <a href="#"><li>FAQs</li></a>
                            <a href="#"><li>Support</li></a>
                            <a href="../signin.html"><li>Sign In</li></a>
                    </ul>
            </div>
    </div>

    <div class="search_bar">
            <div class="inner_search_bar">
                    <form action="search.php" method="get">
                            <button type="submit" name="search_submit">Search</button>
                            <input type="text" name="search" placeholder="Search does not work yet...">
                    </form>
            </div>
    </div>

    <div>
            <img id="image_1" src="/public/sounds.jpg">
    </div>
        <h1>Sound Edited Successfully</h1>
        <h2>If you do not see the changes you made, refresh the page.</h2>
        <div id="body"></div>

        <script>
            var db = '<%-JSON.stringify(result)%>';
            var db_parsed = JSON.parse(db);
            var text_body = "";

            if (db_parsed.rowCount != 0) {
                var i;
                for (i = 0; i < db_parsed.rowCount; i++) {
                    text_body += "Title: " + db_parsed.rows[i].name + "<br>Author: " + db_parsed.rows[i].author + "<br>Date Uploaded: " + db_parsed.rows[i].created + "<br><br>";
                }
            }
            else {
                text_body = "No sounds in library <br>";
            }
            document.getElementById("body").innerHTML = text_body;
        </script>

        <form action="/" name="return" method="GET">
            <button type="submit" name="return_home">Return Home</button>
        </form>
        <div class="footer">
            <div class="inner_footer">
                    <ul class="suggestions">
                            <a href="#"><li>Popular searches</li></a>
                            <a href="#"><li>Directory</li></a>
                            <a href="#"><li>About us</li></a>
                            <a href="#"><li>Blog</li></a>
                            <a href="#"><li>Jobs</li></a>
                            <a href="#"><li>Developers</li></a>
                            <a href="#"><li>Help</li></a>
                            <a href="#"><li>Legal</li></a>
                            <a href="#"><li>Privacy</li></a>
                            <a href="#"><li>Cookies</li></a>
                            <a href="#"><li>Imprint</li></a>
                            <a href="#"><li>Charts</li></a>
                    </ul>
            </div>
    </div>
    </body>
</html>