<html>
    <head>
        <title>Addition Confirmation</title>
    </head>
    <body>
        <h1>New Sound Added to Library</h1>
        <h2>If you do not see the changes you made, refresh the page.</h2>
        <div id="body"></div>

        <script>
            var db = '<%-JSON.stringify(result)%>';
            var db_parsed = JSON.parse(db);
            console.log(db_parsed.rowCount);
            console.log(db_parsed.rows[0]);
            var text_body = "";

            if (rows.length != 0) {
                var i;
                for (i = 0; i < 1; i++) {
                    text_body += "Title: " + db.rows[i].name + "<br>Author: " + db.rows[i].author + "<br>Date Uploaded: " + db.rows[i].created + "<br><br>";
                }
            }
            else {
                text_body = "No sounds in library <br>";
            }
            document.getElementById("body").innerHTML = text_body;
        </script>

        <form action="/" name="return" method="GET">
            <button type="submit" name="return_home">Return Home</button>
        </form>
    </body>
</html>